html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



h1, p {
    margin: 20px 0;
}

.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-light {
    background-color: #f8f9fa; /* Cor do botão "Criar Cliente" */
    color: #343a40; /* Texto escuro para contraste */
    border: none;
}

    .btn-light:hover {
        background-color: #e2e6ea; /* Cor do botão "Criar Cliente" ao passar o mouse */
        transform: scale(1.05);
    }

.btn-dark {
    background-color: #343a40; /* Cor do botão "Listar Clientes" */
    border: none;
}

    .btn-dark:hover {
        background-color: #23272b; /* Cor do botão "Listar Clientes" ao passar o mouse */
        transform: scale(1.05);
    }

html {
  position: relative;
  min-height: 100%;
}



body {
    background: linear-gradient(to top, #000000, #4d4d4d); /* Gradiente do preto ao cinza escuro */
    color: white;
    margin-bottom: 60px;
}
.text-danger {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

/* Navbar transparente */
.navbar {
    padding: 1.3rem;
    background-color: transparent !important;
    transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse */
.nav-link {
    position: relative;
    transition: transform 0.2s ease;
}

    .nav-link:hover {
        transform: scale(1.1); /* Efeito de zoom */
    }

    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px; /* Distância da linha em relação ao texto */
        height: 2px; /* Altura da linha */
        background-color: white; /* Cor da linha */
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .nav-link:hover::after {
        transform: scaleX(1); /* Estica a linha ao passar o mouse */
    }

/* Ajustes para responsividade */
@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem; /* Ajuste de padding para telas pequenas */
    }

    .nav-link {
        font-size: 0.9rem; /* Ajuste de tamanho da fonte para telas pequenas */
    }
}